<template>
  <div class="wrapper">
    <h1>Forums</h1>
    <loading-indicator v-if="$apollo.loading" />
    <div class="container">
      <forum-card
        v-for="forum in forums"
        :key="forums.indexOf(forum)"
        :forum="forum"
      />
    </div>
  </div>
</template>

<script>
import gql from 'graphql-tag'
import LoadingIndicator from '@/components/util/LoadingIndicator'
import ForumCard from '@/components/ForumCard'

export default {
  name: 'Forums',
  components: {
    LoadingIndicator,
    ForumCard
  },
  apollo: {
    forums: {
      query: gql`
        {
          forums(siteId: "1") {
            id
            name
            insertedAt
          }
        }
      `
    }
  }
}
</script>

<style lang="scss" scoped>
.wrapper {
  padding: 25px;
}
</style>
