<template>
  <div class="wrapper">
    <h1>Hello</h1>
    <nav>
      <ul>
        <li>
          <router-link to="/forums">Forums</router-link>
        </li>
      </ul>
    </nav>
  </div>
</template>

<script>
export default {
  name: 'Home'
}
</script>

<style lang="scss" scoped>
.wrapper {
  padding: 25px;
}
</style>
