<template>
  <div class="wrapper">
    <h1>Thread {{ $route.params.id }}</h1>
    <loading-indicator v-if="$apollo.loading" />
    <div
      v-else
      class="container"
    >
      <p>{{ thread.body }}</p>
    </div>
  </div>
</template>

<script>
import gql from 'graphql-tag'
import LoadingIndicator from '@/components/util/LoadingIndicator'

export default {
  name: 'Threads',
  components: {
    LoadingIndicator
  },
  apollo: {
    thread: {
      query: gql`
        query thread($id: ID!) {
          thread(id: $id) {
            id
            body
          }
        }
      `,
      variables () {
        return {
          id: this.$route.params.id
        }
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.wrapper {
  padding: 25px;
}
</style>
