<template>
  <div class="wrapper">
    <h1>Threads in {{ threadSearch && threadSearch.length ? threadSearch[0].forum.name : 'Forum' }}</h1>
    <loading-indicator v-if="$apollo.loading" />
    <div class="container">
      <thread-card
        v-for="thread in threadSearch"
        :key="threadSearch.indexOf(thread)"
        :thread="thread"
      />
    </div>
  </div>
</template>

<script>
import gql from 'graphql-tag'
import LoadingIndicator from '@/components/util/LoadingIndicator'
import ThreadCard from '@/components/ThreadCard'

export default {
  name: 'Threads',
  components: {
    LoadingIndicator,
    ThreadCard
  },
  apollo: {
    threadSearch: {
      query: gql`
        query threadSearch($forumId: ID) {
          threadSearch(forumId: $forumId) {
            id
            name
            body
            insertedAt
            forum {
              name
            }
          }
        }
      `,
      variables () {
        return {
          forumId: this.$route.params.id
        }
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.wrapper {
  padding: 25px;
}
</style>
