<template>
  <div class="card">
    <h2>{{ forum.name }}</h2>
    <p>Created at {{ new Date(forum.insertedAt).toTimeString() }}</p>
    <router-link :to="`/forums/${forum.id}`">Read Threads</router-link>
  </div>
</template>

<script>
export default {
  name: 'ForumCard',
  props: {
    forum: {
      type: Object,
      required: true
    }
  }
}
</script>

<style lang="scss" scoped>
.card {
  padding: 25px;
  box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.5);
  border-radius: 3px;

  & + & {
    margin-top: 25px;
  }

  h2 {
    margin-top: 0;
  }
}
</style>
